<!DOCTYPE html>
<html lang="en">
    <body>
      <h1>Website Availability Rate</h1>
      The success rate for <b>LOCAL</b> requests is: {{rate_local}}
      <br>
      <br>
      The success rate for <b>REMOTE</b> requests is: {{rate_remote}}
    </body>
</html>
